body {
    background-color: black;
    color: white;
    font-family: Verdana;
    font-size: 30;
}

h1 {
    color: darkcyan;
    background-color: rgba(183, 178, 118, 0.588);
    font-size: 60;
    font-family: cursive;
    padding: 1 1 1 1;
    margin: 25 25 25 25;
    position: absolute;
    top: -25px;
    left: 410px;
    text-align: right;
}

.paragrapth {
    position: absolute;
    top: 450px;
    left: 50px;
    width: 900;
    text-align: center;
    padding: 20 20 20 20;
    background-color: rgba(126, 252, 0, 0.6);
    color: brown;

}

.paragrapth2 {
    position: absolute;
    top: 370px;
    left: 50px;
    width: 900;
    text-align: center;
    padding: 20 20 20 20;
    background-color: rgba(139, 0, 139, 0.588);
    color: burlywood;

}

.paragrapth3 {
    position: absolute;
    top: 255px;
    left: 50px;
    width: 900;
    text-align: center;
    padding: 20 20 20 20;
    background-color: rgba(255, 217, 0, 0.6);
    color: blueviolet;

}

.paragrapth a {
    color: crimson;
}

.paragrapth3 a {
    color: darkviolet;
}

.paragrapth2 a {
    color: goldenrod;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: overline;
}

#scene { 
    height: 560;
    width: 1025;
    margin-left: 1%;
    position: absolute; 
    left: 60px;
    top: 40px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    color: cyan;
    font-size: large;
    background-color: darkred;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    margin: 2 2 2 2;
    position: relative;
    top: 95px;
    left: 490px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#add {
    position: absolute;
    top: 3px;
    left: 500px;
    width: 265px;
    height: 320px;
}

#add:hover {
    background-color: rgba(40, 129, 89, 0.4);
}

#start {
    position: absolute;
    top: 50px;
    left: 765px;
    width: 260px;
    height: 215px;
}

#start:hover {
    background-color: rgba(255, 255, 255, 0.25);
}


/* options */
#options {
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    top: 2px;
    left: 2px;
    background-color: rgba(81, 81, 81, 0.5);
}

#options p {
    position: absolute;
    top: -30px;
    left: 0px;
}

#options #home {
    visibility: hidden;
    background-color: rgba(81, 81, 81, 0.5);
    position: absolute;
    height: 40px;
    top: 0px;
    left: 40px;
    
}

#options #home p{
    visibility: hidden;
    position: relative;
    top: -30px;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

#options #home:hover p{
    visibility: visible;
}


#options #achievements {
    visibility: hidden;
    background-color: rgba(81, 81, 81, 0.5);
    height: 40px;
    position: absolute;
    top: 0px;
    left: 80px;
    
}

#options #achievements p{
    visibility: hidden;
    position: relative;
    top: -30px;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

#options #achievements:hover p{
    visibility: visible;
}

#options:hover #home {
    visibility: visible;
}

#options:hover #achievements {
    visibility: visible;
}
