body {
    background-color: black;
    color: white;
    font-family: Verdana;
    font-size: 30;
}

h1 {
    color: darkcyan;
    background-color: rgba(174, 118, 183, 0.8);
    font-size: 60;
    font-family: cursive;
    padding: 1 1 1 1;
    margin: 25 25 25 25;
    position: absolute;
    top: -20px;
    left: 200px;
    width: 570px;
    text-align: center;
}

.paragrapth {
    position: absolute;
    top: 450px;
    left: 50px;
    width: 900;
    text-align: center;
    padding: 20 20 20 20;
    background-color: rgba(139, 0, 139, 0.588);
    color: burlywood;

}

a {
    color: goldenrod;
    text-decoration: none;
}

a:hover {
    text-decoration: overline;
}

#scene { 
    height: 560;
    width: 1025;
    margin-left: 1%;
    position: absolute; 
    left: 60px;
    top: 40px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    color: cyan;
    font-size: large;
    background-color: darkred;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    margin: 2 2 2 2;
    position: relative;
    top: 120px;
    left: 125px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#add {
    position: absolute;
    top: 43px;
    left: 10px;
    width: 1000px;
    height: 200px;
}

#add:hover {
    background-color: rgba(40, 129, 89, 0.4);
}

#start {
    position: absolute;
    top: 250px;
    left: 270px;
    width: 480px;
    height: 215px;
}

#start:hover {
    background-color: rgba(139, 69, 19, 0.4);
}


/* options */
#options {
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    top: 2px;
    left: 2px;
    background-color: rgba(81, 81, 81, 0.5);
}

#options p {
    position: absolute;
    top: -30px;
    left: 0px;
}

#options #home {
    visibility: hidden;
    background-color: rgba(81, 81, 81, 0.5);
    position: absolute;
    height: 40px;
    top: 0px;
    left: 40px;
    
}

#options #home p{
    visibility: hidden;
    position: relative;
    top: -30px;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

#options #home:hover p{
    visibility: visible;
}


#options #achievements {
    visibility: hidden;
    background-color: rgba(81, 81, 81, 0.5);
    height: 40px;
    position: absolute;
    top: 0px;
    left: 80px;
    
}

#options #achievements p{
    visibility: hidden;
    position: relative;
    top: -30px;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

#options #achievements:hover p{
    visibility: visible;
}

#options:hover #home {
    visibility: visible;
}

#options:hover #achievements {
    visibility: visible;
}
